# Pandas DataFrames

In [10]:
import pandas as pd

## Importing and Exporting DataFrames:

In [ ]:
# Importing
pd.read_csv('')  # Not only csv, but for any plain-text delimited file, such as psv and tsv
pd.read_excel()
pd.read_json()
pd.DataFrame.from_dict()

# Exporting
df.to_csv("")
df.to_excel()
df.to_json()
df.to_dict()

In [ ]:
# Skipping & Limiting rows:
pd.read_csv('asdf', nrows=100, skiprows=1) # Import the first 100 rows of the file, while skipping the first row.

# Sepecifying row containing column names:
pd.read_csv('asdf', header=1, encoding='latin-1') # Header specifies the row where column names are.
# If encoding error, use encoding: either 'utf-8' or 'latin-1'

# Selecting specific columns to read:
pd.read_csv('asdf', usecols=['write indexes or column names as a list of items'], encoding='latin-1')

# Selecting specific sheets
pd.read_excel('asdf.xlsx', sheet_name=2, header=2) # instead of sheet index, can give the name in quotes.

# misc.
pd.read_csv('foldername/filename', index=False, sep='\t')

In [5]:
df = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/02_Filtering_%26_Sorting/Euro12/Euro_2012_stats_TEAM.csv')
df

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,20,74.1%,101,89,16,16,0,18,18,19
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,...,12,70.6%,35,30,3,5,0,7,7,15
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,...,6,66.7%,48,56,3,7,1,7,7,17
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,10,71.5%,73,90,10,12,0,14,14,16
11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,...,17,65.4%,43,51,11,6,1,10,10,17
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,...,10,77.0%,34,43,4,6,0,7,7,16
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,...,8,61.6%,35,51,7,7,0,9,9,18
15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,...,13,76.5%,48,31,4,5,0,9,9,18

## Methods - contains ()

In [4]:
df.head()  # Prints the first n rows (default=5)
df.tail()  # Prints the last n rows (default=5)
df.info()  # Gives number of non-null values of each col. along with their data types.
df.describe()  # Gives basic stats about each col, as long as they are int/float datatype.

df.isna()  # "Boolean Mask" of df, returns True if value is null, otherwise False.
df.isna().sum()  # Gives counts of null values per column.
df.isna().sum().sum()  # Gives total null value count.

df.set_index('Goal')  # Sets 'Goal' column as the index of the DataFrame.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 35 columns):
Team                          16 non-null object
Goals                         16 non-null int64
Shots on target               16 non-null int64
Shots off target              16 non-null int64
Shooting Accuracy             16 non-null object
% Goals-to-shots              16 non-null object
Total shots (inc. Blocked)    16 non-null int64
Hit Woodwork                  16 non-null int64
Penalty goals                 16 non-null int64
Penalties not scored          16 non-null int64
Headed goals                  16 non-null int64
Passes                        16 non-null int64
Passes completed              16 non-null int64
Passing Accuracy              16 non-null object
Touches                       16 non-null int64
Crosses                       16 non-null int64
Dribbles                      16 non-null int64
Corners Taken                 16 non-null int64
Tackles                       16 non-null int64
Clearances                    16 non-null int64
Interceptions                 16 non-null int64
Clearances off line           15 non-null float64
Clean Sheets                  16 non-null int64
Blocks                        16 non-null int64
Goals conceded                16 non-null int64
Saves made                    16 non-null int64
Saves-to-shots ratio          16 non-null object
Fouls Won                     16 non-null int64
Fouls Conceded                16 non-null int64
Offsides                      16 non-null int64
Yellow Cards                  16 non-null int64
Red Cards                     16 non-null int64
Subs on                       16 non-null int64
Subs off                      16 non-null int64
Players Used                  16 non-null int64
dtypes: float64(1), int64(29), object(5)
memory usage: 4.5+ KB

,Goals,Shots on target,Shots off target,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,Headed goals,Passes,Passes completed,...,Goals conceded,Saves made,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
count,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.0000,16.000000,16.000000,16.000000,...,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.00000,16.00000,16.000000
mean,4.750000,17.125000,24.937500,54.937500,1.250000,0.187500,0.0625,1.375000,1763.375000,1467.375000,...,4.750000,12.125000,52.937500,55.625000,8.125000,7.437500,0.187500,10.87500,10.87500,17.250000
std,2.886751,10.582218,10.680005,26.065223,1.612452,0.403113,0.2500,1.024695,906.177898,827.580721,...,1.983263,4.573474,22.915697,18.973227,4.910872,3.265348,0.403113,3.53789,3.53789,1.527525
min,1.000000,7.000000,10.000000,27.000000,0.000000,0.000000,0.0000,0.000000,851.000000,606.000000,...,1.000000,6.000000,25.000000,30.000000,2.000000,4.000000,0.000000,7.00000,7.00000,15.000000
25%,2.750000,9.750000,18.000000,36.500000,0.000000,0.000000,0.0000,0.750000,1190.750000,951.500000,...,3.000000,9.750000,35.750000,44.500000,4.000000,5.000000,0.000000,8.50000,8.50000,16.000000
50%,4.500000,13.000000,23.500000,44.000000,1.000000,0.000000,0.0000,1.500000,1522.000000,1211.500000,...,5.000000,11.000000,45.500000,51.000000,7.500000,6.500000,0.000000,10.50000,10.50000,17.000000
75%,5.250000,22.000000,32.250000,68.750000,2.000000,0.000000,0.0000,2.000000,1934.750000,1546.500000,...,6.000000,13.500000,64.000000,64.750000,11.250000,9.000000,0.000000,12.50000,12.50000,18.250000
max,12.000000,42.000000,45.000000,110.000000,6.000000,1.000000,1.0000,3.000000,4317.000000,3820.000000,...,9.000000,22.000000,102.000000,90.000000,19.000000,16.000000,1.000000,18.00000,18.00000,20.000000

## Attributes - does not contain ()

In [9]:
df.index  # Returns the indexes of the DataFrame as a list
df.columns  # Returns the columns of the DataFrame as a list
df.dtypes  # Returns the datatype of each column
df.shape  # Returns a tuple of (#rows, #cols)

(16, 35)

## Indexing - .iloc and .loc
- df.iloc[] 
    - Integer based indexing.
- df.loc[]
    - Selecting by label/index - can refer to columns as 'column_name'
    - boolean (conditional lookup) - need to refer to columns as df['column_name']

In [12]:
# These methods can be used to create new values as well

# df.iloc[]  # Integer based indexing
df.iloc[:, 3:7]  # Selects columns 3 through 6

# df.loc[]  # Selecting by label/index, or boolean (conditional lookup)
df.loc[:, 'Team']  # Selects the 'Team' column
# Can be replaced by df['Team'] or df.Team
df.loc[7:16, 'Team']

df.loc[df['Goals'] > 7]  # Selects rows that only satisfies the condition
# Can be replaced by df[df['Goal] > 7]
df.loc[df['Goals'] > 7, ['Team']]  # Selects teams with goals higher than 7.

df.loc[df['Team'].str.contains('c')]  # Returns rows of df where the data in df['Team'] contains the string 'c'

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20
11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,...,17,65.4%,43,51,11,6,1,10,10,17

## Changing values in a dataframe:

In [ ]:
df.loc[df['Goals'] > 10, 'Goals'] = 10
# All goal counts greater than 10 is simply set to 10

## Sorting by the value in a column:

In [ ]:
df.sort_values(["column(s) you want to sort by"], ascending=False)

## Creating and deleting new columns:

In [ ]:
df.loc[df['Goals'] > 7, 'High Score'] = 'Y'
# Creates a new column 'High Score', where it has value Y if goals is greater than 7


del crime['Total']
crime.pop('Total')  # Deletes the column AND returns that deleted column
cars1 = cars1.loc[:, "mpg":"car"]  # It may be better to index the columns you want to keep.

## Selecting multiple columns or rows:
- Need to put additional [] around the row/column names, even if there is only one.
- When applying multiple conditions, need to wrap each condition with ().

In [7]:
# Selecting multiple columns:
df[['Goals', 'Team']]
df.loc[:, ['Goals']]

# Selecting multiple rows:
df.loc[1:3]
df.loc[['Greece']]

army[(army["deaths"] > 500) | (army["deaths"] < 50)]
# When applying multiple conditions, need to wrap each condition with ().

# Selecting multiple rows and columns:
df.loc[df.Team.isin(['England', 'Italy', 'Russia']), ['Team','Shooting Accuracy']]
# df.isin() will return True if the input is in the DataFrame.

       Team Shooting Accuracy
3   England             50.0%
7     Italy             43.0%
12   Russia             22.5%

## String methods:
- str.contains(), str.startswith(), str.endswith() 
- isin() => used to check for multiple values

In [ ]:
euro12[euro12['Team'].str.contains('g')]  # Selects the rows that contains 'g' in its team name
euro12[euro12['Team'].str.startswith('G')]  # Selects the rows where the team name starts with 'G'
euro12[euro12['Team'].str.endswith('g')]  #Selects the rows where the team name ends with 'g'

df.loc[df.Team.isin(['England', 'Italy', 'Russia']), ['Team','Shooting Accuracy']]
# df.isin() will return True if the input is in the DataFrame.
# Used when you have multiple inputs to check for.

## Series - single column from a DataFrame

In [ ]:
ser = df['Goals']
ser[0:3]
ser[ser > 8]  # or ser.loc[ser > 8]

## Groupby()
- Often used with .mean(), .median(), .min(), etc.
- Can further use .agg() to find stats values for the grouped indexes.

In [ ]:
drinks.groupby('continent').mean()  
# Gives the mean values of each columns, grouped by the column 'continent.'
users.groupby(['occupation', 'gender']).age.mean()
# Groupby can also contain a list of column names!

drinks.groupby('continent').spirit_servings.agg(['mean', 'min', 'max']) 
# Gives the mean, min, max values of the 'spirit_servings' column after aggregating the df by 'continent.'

# create a data frame and apply count to gender
gender_ocup = users.groupby(['occupation', 'gender']).agg({'gender': 'count'})

## Creating different variables within a loop:
- Can be done by creating a dictionary!
- This dictionary can then be changed to a DataFrame.

In [ ]:
d = {}
for i in df.loc[:,'Mjob':'Fjob'].columns:
    d["{}".format(i)] = df[i].map(lambda x: x.capitalize())
dfd = pd.DataFrame.from_dict(d)
dfd

## Changing the datatype of each column:

In [ ]:
crime.Year = pd.to_datetime(crime.Year, format='%Y')

## Joining two dataframes together:
- If identical column names are present, .append()
- If one identical column exists, .join()

In [ ]:
cars = cars1.append(cars2)

## Random arrays

In [ ]:
import numpy as np
rcars = np.random.randint(15000, high=73001, size=398)
# Generate an array size 398 of random integers from 15000 to 73000 (notice that the high number is exclusive)
cars['rcars'] = rcars  # Add this column to the DataFrame.

# Sets

Table of common operations on sets:

| Method        |	Equivalent |	Result |
| ------                    | ------       | ------    |
| s.issubset(t)             |	s <= t     | test whether every element in s is in t
| s.issuperset(t)           |	s >= t     | test whether every element in t is in s
| s.union(t)                |	s $\mid$ t | new set with elements from both s and t
| s.intersection(t)         |	s & t      | new set with elements common to s and t
| s.difference(t)           |	s - t 	   | new set with elements in s but not in t
| s.symmetric_difference(t) |	s ^ t      | new set with elements in either s or t but not both

More operations on sets:

|Operation                          |	Equivalent |	Result|
| ------                            | ------       | ------   |
|s.update(t)                        | 	$s \mid t$ 	   |return set s with elements added from t|
|s.intersection_update(t)           | 	s &= t     |	return set s keeping only elements also found in t|
|s.difference_update(t)             |	s -= t 	   |return set s after removing elements found in t|
|s.symmetric_difference_update(t)   |	s ^= t 	   |return set s with elements from s or t but not both|
|s.add(x)                           |	           |	add element x to set s|
|s.remove(x)                        |	           |	remove x from set s|
|s.discard(x)                       |	           |	removes x from set s if present|
|s.pop()                            | 	           |	remove and return an arbitrary element from s|
|s.clear()            	            |  	           |remove all elements from set s|

## Probability Concepts:

- A **random experiment** is a process by which we observe something uncertain.
- An outcome is a result of a **random experiment**. 
- The set of all possible outcomes is called the **sample space**.
- The **universal set** is your sample space: it is the universe in which your possible outcomes are listed as elements.
- The **event space** is a subset of the sample space.

hypothesis testing steps:
1. set up your hypotheses
2. pick your test based on your experiment
3. pick your alpha
4. calculate your test statistic
5. find your p-value
6. interpret (if p < α, reject Ho )